<H4>First Name: <%= @contact.first_name %></H4>
<h4>Middle Name: <%= @contact.middle_name %></h4>
<h4>Last Name: <%= @contact.last_name %></h4>
<h4>Cell Phone Number: <%= @contact.phone_number %></h4>
<h4>Email: <%= @contact.email %></h4>
<h4>Company: <%= @contact.company %></h4>
<h4>Bio: <%= @contact.bio %></h4>
<a href="/contacts">Back to all contacts</a>