<!DOCTYPE html>
<html>
  <head>
    <title>PhonebookApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <a href="/contacts">All Contacts</a>
    <a href="/contacts/new">Create New Contacts</a>
    <%= yield %>
  </body>
</html>
